body.light{
    background-color: #ffffff;
    color: #000000;
}

body.dark{
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
   width: 90%;
   max-width: 1100px;
    margin: 0 auto;
}